# ==========| FOLDERS |==========

# .terraform - директория, которую Terraform
# использует в качестве временной рабочей папки
.terraform

# .idea - директория, в которой IntelliJ IDEA
# хранит все параметры, относящиеся к проекту
.idea

# .aws - директория, в которой хранятся ключи
# для подключения к AWS через AWS CLI
.aws

# ===============================



# ==========| FILES |==========

# Файлы вида *.tfstate, в которых Terraform хранит состояние
*.tfstate
*.tfstate.backup

# Demo2.iml - файл, который содержит
# xml информацию о проекте для IntelliJ IDEA
Demo2.iml

# .terraform.lock.hcl - файл, который Terraform
# автоматически создает во время инициализации проекта
# для хранения версии и хэша
.terraform.lock.hcl

# =============================